<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <funarbe_pagamentos>
                <active>1</active>
                <model>Funarbe\Pagamentos\Model\Pagamentos</model>
                <order_status>pending</order_status>
                <title>Chequinho / Cartão Alimentiação Supermercado Escola</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </funarbe_pagamentos>
        </payment>
    </default>
</config>

