<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <chequinho_se>
                <active>1</active>
                <model>Funarbe\Pagamentos\Model\Chequinho</model>
                <order_status>pending</order_status>
                <title>Chequinho</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </chequinho_se>
            <cartao_alimentacao_se>
                <active>1</active>
                <model>Funarbe\Pagamentos\Model\CartaoAlimentacao</model>
                <order_status>pending</order_status>
                <title>Cartão Alimentação Supermercado Escola</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </cartao_alimentacao_se>
        </payment>
    </default>
</config>

