<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="chequinho_se" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Funarbe | Chequinho</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Título</label>
                </field>
                <field id="order_status" type="select" sortOrder="30" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Status para novas compras</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="allowspecific" type="allowspecific" sortOrder="40" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" type="multiselect" sortOrder="50" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
                <field id="sort_order" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>ordem</label>
                </field>
            </group>

            <group id="cartao_alimentacao_se" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Funarbe | Cartão Alimentação Supermercado Escola</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Título</label>
                </field>
                <field id="order_status" type="select" sortOrder="30" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Status para novas compras</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="allowspecific" type="allowspecific" sortOrder="40" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" type="multiselect" sortOrder="50" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
                <field id="sort_order" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>ordem</label>
                </field>
            </group>
        </section>
    </system>
</config>
